.selector {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.selector input {
    vertical-align: middle;
    margin-inline: 5px;
    width: 10em;
    justify-content: center;
}